########## ここを書き換える．許可はファイルの最後に#########
# 除外
logs/**
pretrained/*
text/**/*.txt
text_feat/**/*.txt
checkpoint/**
.venv/**
.tmp.driveupload/**
#########################################


# バイナリ・圧縮ファイル
*.zip
*.tar
*.tar.gz
*.tgz
*.bz2
*.xz
*.7z
*.rar
*.gz
*.gzip
*.lz4
*.zst

# バックアップ・テンポラリファイル
*.bak
*.swp
*.swo
*.swn
*.~*
*.tmp
*.temp
*.old
*.log
*.out

# データ・チェックポイントファイル
*.h5
*.hdf5
*.npy
*.npz
*.pickle
*.pkl
*.ckpt
*.pth
*.pt
*.pb
*.onnx
*.tflite
*.weights

# 画像・動画ファイル
*.png
*.jpeg
*.jpg
*.gif
*.bmp
*.svg
*.tiff
*.tif
*.ico
*.webp
*.mp4
*.mkv
*.avi
*.mov
*.wmv
*.flv
*.webm
*.mp3
*.wav
*.ogg
*.flac
*.m4a
*.pdf

# 大きなデータフォーマット（GIS、科学計算）
*.nc
*.nc4
*.shp
*.dbf
*.prj
*.asc
*.grd
*.mat
*.fasta
*.fastq
*.bam
*.bai
*.sam
*.vcf
*.csv

# Office/ドキュメント系
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.odp
*.odt
*.ods
*.rtf

# ソースコードビルド成果物
*.o
*.a
*.so
*.dll
*.exe
*.dylib
*.class
*.jar
*.war
*.ear
*.pyc
*.pyo
*.elc
*.rbc
*.beam

# 仮想環境・パッケージ管理関連
venv/
.virtualenv/
env/
envs/
__pycache__/
*.egg-info/
*.dist-info/
node_modules/
.cache/
.mypy_cache/
.jupyter/
.ipython/
.dask/
.dvc/
.pip/
.pylint.d/
.nox/
.tox/
.coverage

# バージョン管理ツールのメタデータ
*.orig
*.rej
*.patch
*.diff

# スクラッチスペース・ワーキングディレクトリ
.dask-worker-space/
.mlflow/
htmlcov/
pytest_cache/
sbatch/

####################################
# Include
!visualizer/**/*.log